<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3> Reminder! </h3>
    <h5>  You signed up for <%= @event.name %> tomorrow! </h5>
      <p> The event details are: </p>
      <p> Date: <%= @event.date %>  </p>
      <p> Start Time: <%= @event.start_time %> </p>
      <p> Location: <%= @event.location %> </p>
      <p> Additional_info <%= @event.addiional_info %> </p>

    <p>We look forward to seeing you there!</p>
  </body>
</html>
