<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5> Thank you for signing up for: <%= @event.name %>
      <p> The event details are: </p>
      <p> Date: <%= @event.date %>  </p>
      <p> Start Time: <%= @event.start_time %> </p>
      <p> Location: <%= @event.location %> </p>
      <p> Additional Info <%= @event.additional_info %> </p>

    <p>We look forward to seeing you there!</p>
  </body>
</html>
