
<div class="container">
<div class="row d-flex justify-content-center">
	<div class="col-lg-4">
		  <h1 class="page-head head"> Sign In </h1>


		<%# We can use `form_for` to generate arbitrary forms without providing it with a model instance, Insead, provide it a symbol.
		And you can also specify the `action` attribute for the form with the argument `url:` %>
		<%= simple_form_for :session, url: session_path do |f| %>

		        <%= f.input :email%>
		        <%= f.input :password %>
		        <%= f.submit 'Sign In', class: "btn btn-primary"%>
						<br> <br>
					<%= link_to 'Forgot password?', new_password_reset_path, class: "link-on-bg" %>
		<%end%>

	</div>
</div>
</div>
</div>
