<div class="container-fluid">

   <h3 class="mt-3 head">New Sign Ups</h3>

   <div class='card col-md-12' style="border:0">
           <div class='card-header d-flex'><strong>Guests:&nbsp;</strong> <%= @stats[:guests] %></div>
               <table class="table table-striped">
                   <thead>
                       <tr>
                           <th>Full Name</th>
                           <th>Email</th>
                           <th>Phone Number</th>
                           <th>Additional Info</th>
                           <th>Previous Volunteer?</th>
                           <th>Date Signed Up</th>
                           <th>Event Signed Up For</th>
                           <th>Change User Category</th>
                           <th></th>
                       </tr>
                   </thead>
                   <tbody>
                       <% @guest_users.each do |volunteer| %>
                           <% first_event = volunteer.attended_events.first %>
                           <tr>
                               <td><%= volunteer.full_name %></td>
                               <td><%= volunteer.email %></td>
                               <td><%= volunteer.phone_number %></td>
                               <td><%= volunteer.additional_info %></td>
                               <td><%= volunteer.previous_volunteer %></td>
                               <td><%= volunteer.created_at.strftime('%B %d %Y') %></td>
                               <td><% if first_event %><%= first_event.name %><% end %></td>
                               <td><%= form_tag("upcat/#{volunteer.id}", method: :patch, class: "pull-right") do %>
                      <div class="field pb-1 pl-2">
                          <%= label(:user_category, "user_category") %>
                          <%= select_tag "user_category", "<option>General Volunteer</option><option>Team Lead</option>".html_safe, class:"btn btn-success dropdown-toggle" %>
                          <%= submit_tag "Submit", class:"btn btn-primary"%>
                      </div>
                           <% end %></td>
                           </tr>
                           <td style="border-bottom: 1px solid black;">
                               <% if volunteer.contacted === false %>
                                   <%= form_tag("contacted/#{volunteer.id}", method: :patch) do %>
                                       <%= submit_tag "Not Contacted", class: 'btn btn-danger' %>
                                   <% end %>
                               <% else %>
                                   <button class="btn btn-success">Contacted <%= fa_icon('check') %></button>
                               <% end %>
                           </td>
                       <% end %>
                   </tbody>
               </table>
   </div>
