<div class="container-fluid">
    <h6 class="mt-2"><%= link_to 'Back to Dashboard', admin_dashboard_index_path, class: 'nav-link', style: 'color: white' %></h6>
    <h3 class="mt-3 head" id="teams">Teams</h3>

    		<%= link_to 'Add a team', new_team_path, class: 'btn btn-block btn-dark' %>

      <div class="row d-flex justify-content-around">
      <% @teams.each do |team| %>
          <% if team.members.count > 0 %>
          <div class="col-md-3 teambg">
              <div class="card-header teamname-head"><strong> <%=link_to(team_path(team)) do %>
                 <%= team.name %> <% end %> </strong></div>
              <div class="list-group">
              <% team.members.each do |member| %>
                 <div class="list-group-item list-group-item-action border-0 linksstyle"> <%= member.full_name %>
                 <% user_team_record = UserTeam.where(user: member.id).where(team: team.id).first%>
                 <%= link_to fa_icon('times 2x'), userteam_url(user_team_record), method: :delete, data: {confirm: 'Are you sure?'}, class: "pull-right" %>
                 </div>
                 <br>
              <% end %>
              </div>
          </div>
          <% end %>
      <% end %>
      </div>
  </div>
</div>
