
<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>


  <div class="card container eventshare", style="margin-top:1rem">
    <h1>Thank you for signing up!</h1>
    <p>You have signed up for  <strong> <%= @event.name %> </strong> beginning at  <strong> <%= @event.start_time.strftime('%l:%M %P') %> </strong> on <strong> <%= @event.date.strftime('%A %B %d %Y') %></strong> </p>
    <p>If you need to cancel, please contact this event's team lead <strong><%= @event.team&.team_lead.full_name %></strong> at <strong><%= @event.team&.team_lead.phone_number %></strong>.  Your canvass captain is <strong><%= @event.canvas_captain.full_name %></strong> at <strong><%= @event.canvas_captain.phone_number %></strong> - please make sure you have their information with you at the shift.</p>
    <div class="share-event">
     <%= link_to "View Event Details", event_path(@event), class: "btn btn-dark" %>

      <div title="Add to Calendar" class="addeventatc">
        Add to Calendar
        <span class="start"> <%=@event.start_time %> </span>
        <span class="end"> <%=@event.end_time %> </span>
        <span class="title"> <%=@event.name %></span>
        <span class="description"> <%=@event.additional_info %> <%= @event.attachment_url %> </span>
        <span class="location"> <%=@event.location %></span>
    </div>
  </div>


<h3> Share this event! </h3>

    <%= social_share_button_tag(@event.name, :url => event_url(@event), desc: @event.name  ) %>


   <p>See you there!</p>

  </div>
</div>
