
<div class="container">
	<div class="row flex-column">
		<h1><%= @event.name %></h1>
		<p><strong>Date:</strong> <%= @event.date.strftime('%A %B %d %Y') %></p>
		<p><strong>Starting at:</strong> <%= @event.start_time.strftime('%I %M') %></p>
		<p><strong>Ending at:</strong> <%= @event.end_time.strftime('%I %M') %></p>
		<p><strong>What?</strong><%= @category.name%></p>
		<p><strong>Where?</strong> <%= @event.location %></p>
		<p><%= @event.additional_info %></p>
		<p><%= @event.attachment_url %></p>



		<%# `&.` is the safe navigation operator. It can be used to avoid
		    "undefined method `...' for nil:NilClass" errors. When used instead of `.`,
		    it will check the object before it before trying to execute the method after
		    it. If the object is `nil`, then it will immediately return `nil`.
		%>
		<p>Created By <%= @event.creator&.full_name %></p>
		<p>Team: <%= @event.team.name %></p>
		<p>Event Lead <%= @lead&.full_name %></p>
		<%= link_to 'Sign Up!', event_neweventsignup_path(@event) %>
	</div>

	<div class="row flex-column">
		<h3>Attendees: </h3>
		<% @event.guests.each do |guest| %>
			<p><%= guest.full_name %></p>
		<% end %>
	</div>


</div>


