<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="col-md content">
		<h1 class="event"><%= @event.name %></h1>

		<h5 class="date"> <%= @event.date.strftime('%A %B %d %Y') %></h5>
  <div class="details">
		<p><strong>Time:</strong> <span class="hours"> <%= @event.start_time.strftime('%l:%M %P') %> </span> to  <span class="hours"><%= @event.end_time.strftime('%l:%M %P') %> </span>
		</p>
		<p> <strong>Category:</strong><%= @category.name%> </p>
		<p> <strong>Location</strong> <%= @event.location%></p>
	</div>

		<p> <%= @event.additional_info %> </p>

		<p> <%= @event.attachment_url %></p>

	<% if current_user %>
		<% if current_user.user_category.name === 'Admin' || current_user.user_category.name === 'Team Lead' %>
			<%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-warning' %>
			<%= link_to('Delete',
				event_path(@event),data: {confirm: 'Are you sure?'},method: :delete, class: 'btn btn-danger') %>
		<% end %>
	<% end %>

	<% if current_user %>
		<% if !@event.guest_ids.include?(current_user.id) %>
			<%= link_to 'Sign Up for this Event!', event_neweventsignup_path(@event), class: "btn btn-success" %>
		<% end %>
	<% else %>
		<%= link_to 'Sign Up for this Event!', event_neweventsignup_path(@event), class: "btn btn-success" %>
	<% end %>

	<% if current_user %>
		<% if @event.guest_ids.include?(current_user.id) %>
			<div class="card signed-up-message">
				<h5>You are signed up for this event!</h5>
				<p>If you need to cancel, please contact this event's team lead <strong><%= @event.team.team_lead.full_name %></strong> at <strong><%= @event.team.team_lead.phone_number %></strong>.  Your canvass captain is <strong><%= @event.canvas_captain.full_name %></strong> at <strong><%= @event.canvas_captain.phone_number %></strong> - please make sure you have their information with you at the shift.</p>
			</div>
		<% end %>
	<% end %>
  </div>

		<%# `&.` is the safe navigation operator. It can be used to avoid
		    "undefined method `...' for nil:NilClass" errors. When used instead of `.`,
		    it will check the object before it before trying to execute the method after
		    it. If the object is `nil`, then it will immediately return `nil`.
		%>

  <div class="col-md-3 content">
    	<h3>Team</h3>
    	<p><%= @event.team&.name %></p>
		<h3>Team Lead </h3>
		<p><%= @event.team&.team_lead.full_name %></p>
		<h3>Created By </h3>
		<p> <%= @event.creator&.full_name %></p>


		<h3>Attendees </h3>
		<ul class="list-group">
			<% @event.guests.each do |guest| %>
			<li class="list-group-item"> <%= guest.full_name %> </li>
			<% end %>
	<% if current_user %>
		<% if current_user.user_category.name === 'Admin' || current_user.user_category.name === 'Team Lead' %>
			<button 
				class="mt-2 btn btn-primary"
				data-toggle="modal"
				data-target="#manageGuests"
			>Manage or Email Guests</button>
		<% else %>
			<% if !@event.guest_ids.include?(current_user.id) %>
			<li class="list-group-item">
				<%= link_to 'I want to join!', event_neweventsignup_path(@event), class:"text-info" %>
			</li>
			<% end %>
		<% end %>
	<% else %>
			<li class="list-group-item">
				<%= link_to 'I want to join!', event_neweventsignup_path(@event), class:"text-info" %>
			</li>
	<% end %>
		</ul>
</div>


  <div class="col-md-3 content">


				<%# `&.` is the safe navigation operator. It can be used to avoid
				"undefined method `...' for nil:NilClass" errors. When used instead of `.`,
				it will check the object before it before trying to execute the method after
				it. If the object is `nil`, then it will immediately return `nil`.
				%>


							<p><b>Canvass Captain : </b><br>
							<%= @canvas_captain&.full_name %><br>
							<%= @canvas_captain&.phone_number %></p>
							<p><b>Data Captain : </b><br>
							<%= @data_captain&.full_name %><br></p>

					<h4 class='mt-3'>Targets</h4>
					<table class="table table-striped">
						<thead class="thead-inverse">
							<tr>
								<th></th>
								<th>Goals</th>
								<th>Outcome</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Sign Ups: </td>
								<td><%= @event.sign_up_goals %></td>
								<td><%= @event.sign_up_outcome %></td>
							</tr>
							<tr>
								<td>Show Ups: </td>
								<td><%= @event.show_up_goals %></td>
								<td><%= @event.show_up_outcome %></td>
							</tr>
							<tr>
								<td>Signatures: </td>
								<td><%= @event.signature_goals %></td>
								<td><%= @event.signature_outcome %></td>
							</tr>
						</tbody>
					</table>
				</div>

	</div>

	</div>

		<div class="col-md-3">
			<div class="row">

		</div>

	</div>

	<!-- Modal for Managing and Emailing Guests -->
	<div class="modal fade" id="manageGuests" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="manageGuestsLabel">Manage Guests</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <table class="table">
	        	<thead>
	        		<tr>
	        			<th>Name</th>
	        			<th>Email</th>
	        			<th>Phone Number</th>
	        			<th>Remove</th>
	        		</tr>
	        	</thead>
	        	<tbody>
	        		<% @event.guests.each do |guest| %>
		        		<tr>
		        			<td><%= guest.full_name %></td>
		        			<td><%= guest.email %></td>
		        			<td><%= guest.phone_number %></td>
		        			<% user_event_record = UserEvent.where(user: guest.id).where(event: @event.id).first %>
		        			<td><%= link_to fa_icon('times'), event_removeguest_path(user_event_record), method: :delete, data: {confirm: "Are you sure you want to remove #{guest.full_name}?"} %></td>
		        		</tr>
	        		<% end %>
	        	</tbody>
	        </table>
	        <h5>Add Personnel</h5>
	        <%= form_for [@event, @userevent], url: event_userevents_url(@event) do |f| %>
	        	<%= f.collection_select :user_id, User.order(:last_name), :id, :full_name,
	        								{},
	        								{multiple: true, class: 'chosen-select'} %>
	        	<%= f.submit 'Add Personnel', class: "btn btn-primary" %>
	        <% end %>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-primary">Email All Personnel</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Save & Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</div> <!-- end of container -->


<%#= form_for @post, as: :post, url: post_path(@post), method: :patch, html: { class: "edit_post", id: "edit_post_45" } do |f| %>




<!-- Working:  -->

<%#= f.select :user_id, @all_users.map { |user| [user.full_name, user.id] } %>