<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> Thank you for creating the event: <%= link_to @event.name, @event %></h2>
      <h3> The event details are: </h3>
      <h3> Date: <%= @event.date.strftime('%A %B %d %Y') %>  </h3>
      <h3> Start Time: <%= @event.start_time.strftime('%l:%M %P') %> </h3>
      <h3> Location: <%= @event.location %> </h3>
      <h3> Additional Info <%= @event.additional_info %> </h3>

    <h3>We look forward to seeing you there!</h3>
  </body>
</html>
