<%= @body.html_safe %>

-----
<h3> The event details are: </h3>
Date: <%= @event.date %>  <br>
Start Time: <%= @event.start_time %> </br>
Location: <%= @event.location %> </br>
 Additional Info <%= @event.additional_info %> <br>
