<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> REMINDER: </h2>
    <h2>  You have <%= @event.name %> tomorrow! </h2>
      <h3> The event details are: </h3>
      <h3> Date: <%= @event.date %>  </h3>
      <h3> Start Time: <%= @event.start_time %> </h3>
      <h3> Location: <%= @event.location %> </h3>
      <h3> Additional Info <%= @event.additional_info %> </h3>

    <h3>We look forward to seeing you there!</h3>
  </body>
</html>
